div.modal-dialog.view-elections.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title.bold 15 октября 2015
            h6.modal-title
                |Дополнительные выборы депутатов
                |Думы Сысертского городского округа
                br
                |по Октябрьскому одномандатномуизбирательному округу #6
                br
                |и Патрушевскому одномандатному избирательному округу #7
        div.modal-body.clearfix
            div.col-md-4
                label.view-elections__block-title кандидаты
                div.view-elections__element
                    p.bold.pd Афанасенко Николай Николаевич
                    p Партия «Яблоко»
                div.view-elections__element
                    p.bold.pd Афанасенко Николай Николаевич
                    p Партия «Яблоко»
            div.col-md-4
                label.view-elections__block-title отслеживаемые пункты протокола
                div.view-elections__element.vertical-center
                    div.col-md-1.vertical-center
                        p.vertical-center 1
                    div.col-md-11.vertical-center
                        p.vertical-center.pd-a
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |Число избирательных бюллетеней,
                            |полученных участковой комиссией
                div.view-elections__element.vertical-center
                    div.col-md-1.vertical-center
                        p.vertical-center 2
                    div.col-md-11.vertical-center
                        p.vertical-center.pd-a
                            | Число избирательных бюллетеней,
                            | полученных участковой комиссией
            div.col-md-4
                label.view-elections__block-title участки
                div.view-elections__element
                    p.bold.pd ТИК 232 УИК 231 Школа#31
                    p Екатеринбург, ул. Красных Партизан, 252
                div.view-elections__element
                    p.bold.pd ТИК 232 УИК 231 Школа#31
                    p Екатеринбург, ул. Красных Партизан, 252
                div.view-elections__element
                    p.bold.pd ТИК 232 УИК 231 Школа#31
                    p Екатеринбург, ул. Красных Партизан, 252
            div.col-md-12.text-right
                button.btn.btn-sm.btn-danger Удалить выборы
                button.btn.btn-sm.btn-success Редактировать выборы
