.view-elections{
  width: 1000px;
  font-family: "Open Sans";
  font-size: 12px;

  &__block-title{
    color:rgb(20,20,20);
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
  }

  &__element{
    width: 100%;
    min-height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    div[class*='col-md-']{
      padding: 0;
      min-height: inherit;
    }

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    p{
      margin:0;
      color:rgb(119,119,119);
      font-size: 11px;
    }
  }

  .pd{
    padding-top: 12px;
  }

  .pd-a{
    padding: 15px 15px 15px 0;
  }

  .col-md-12{
    padding: 0;
  }

  .col-md-4{
    height: 640px;
    margin-bottom: 15px;

    &:nth-of-type(1){
      padding: 0 10px 0 0;
    }

    &:nth-of-type(2){
      padding: 0 5px;
    }

    &:nth-of-type(3){
      padding:0 0 0 10px;
    }
  }

  .btn-danger{
    margin-right: 15px;
  }

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 400;
  }

  .bold{
    font-weight: 600;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }
}