div.modal-dialog.ag-sites.ag-sites--create.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title.bold
        div.modal-body.clearfix
            div.col-md-12
                div.col-md-6
                    div.col-md-12
                        div.form-group.form-group-sm
                            label Название участка
                            input.form-control.input-sm(type='text',placeholder='Название участка')
                        div.form-group.form-group-sm
                            label Номер УИК
                            input.form-control.input-sm(type='text',placeholder='Номер УИК')
                    label Проход 1
                    div.col-md-12
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Свердловская область
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Свердловская область
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                div.col-md-6
                    div.col-md-12
                    label Цвет метки
                    div.point.red.active
                    div.point.crimson
                    div.point.purple
                    div.point.violet
                    div.point.dark-blue
                    div.point.blue
                    div.point.light-blue
                    div.point.dark-green
                    div.point.green
                    div.point.light-green
                    div.point.yellow
                    div.point.orange
                    label Проход 2
                    div.col-md-12
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Свердловская область
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Свердловская область
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
            div.col-md-12
                div.col-md-6.ag-sites__elements-block
                    label.ag-sites__title доступные адреса
                    div.ag-sites__element
                        div.col-md-10
                            p.bold Свердловская Область, Екатеринбург,
                            p ул. Большой Конный полуостров, 235
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-plus
                    div.ag-sites__element
                        div.col-md-10
                            p.bold Свердловская Область, Екатеринбург,
                            p ул. Большой Конный полуостров, 235
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-plus
                    div.ag-sites__element
                        div.col-md-10
                            p.bold Свердловская Область, Екатеринбург,
                            p ул. Большой Конный полуостров, 235
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-plus
                div.col-md-6.ag-sites__elements-block
                    label.ag-sites__title адреса, назначенные на участок
                    div.ag-sites__element
                        div.col-md-10
                            p.bold Свердловская Область, Екатеринбург,
                            p ул. Большой Конный полуостров, 235
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-remove
                    div.ag-sites__element
                        div.col-md-10
                            p.bold Свердловская Область, Екатеринбург,
                            p ул. Большой Конный полуостров, 235
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-remove
            div.col-md-12
                div.col-md-6.ag-sites__elements-block
                    label.ag-sites__title доступные исполнители
                    div.ag-sites__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Кузнецов Александр Михайлович
                            p 22 зуба
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-plus
                div.col-md-6.ag-sites__elements-block
                    label.ag-sites__title исполнители, назначенные на участок
                    div.ag-sites__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Кузнецов Александр Михайлович
                            p 22 зуба
                        div.col-md-2.vertical-center
                            button.ag-sites__btn.glyphicon.glyphicon-remove
            div.col-md-12.text-right
                button.btn.btn-sm.btn-danger Удалить участок
                button.btn.btn-sm.btn-success Ок