.ag-sites{
  width: 744px;
  font-size: 11px;
  font-family: "Open Sans";
  color:rgb(119,119,119);

  &__title{
    color:rgb(20,20,20);
    text-transform: uppercase;
    margin-left:15px;
  }

  &__elements-block{
    height: 250px;
  }

  &__element{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    div[class*='col-md-']{
      padding: 0;
      height: 100%;

      p{
        &:first-of-type{
          padding-top: 12px;
        }
        margin:0;
      }
    }

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    border-radius:5px;
    margin-left:20px;
  }

  label{
    width: 100%;
  }

  div[class*='col-md-']{
    padding: 0;
  }

  .photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-left: -5px;
  }

  .col-md-6:nth-of-type(odd){
    padding: 0 7.5px 0 0;
  }

  .col-md-6:nth-of-type(even){
    padding: 0 0 0 7.5px;
  }

  input{
    background: rgb(248,248,248);
  }

  .btn-success{
    width: 110px;
  }

  .form-group{
    width: 50%;
    display: inline-block;
    margin-bottom: 6px;

    &:first-of-type{
      padding-right: 7.5px;
      box-sizing: border-box;
    }
    &:last-of-type{
      padding-left: 7.5px;
      box-sizing: border-box;
    }
  }

  .dropdown{
    width: 50%;
    margin-bottom: 15px;
    display: inline-block;

    &:first-of-type{
      padding-right: 7.5px;
      box-sizing: border-box;
    }
    &:last-of-type{
      padding-left: 7.5px;
      box-sizing: border-box;
    }

    button{
      width: 100%;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 10px;
      background-color: rgb(248, 248, 248) !important;

      p{
        line-height: 28px;
        margin:0;
        color:rgb(119,119,119);
        font-weight: 400;
      }

      span{
        background: rgb(56, 70, 87) none repeat scroll 0% 0%;
        height: 100%;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        color:rgb(189,193,197);
        line-height: 25px;
      }
    }
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .point{
    width: 11px;
    height: 11px;
    border-radius:50%;
    margin: 10px 10px 10px 0;
    cursor:pointer;
    display: inline-block;

    &.red{
      background: rgb(217,83,79);
    }
    &.crimson{
      background: rgb(223,23,90);
    }
    &.purple{
      background: rgb(150,40,75);
    }
    &.violet{
      background: rgb(103,57,183);
    }
    &.dark-blue{
      background: rgb(62,80,180);
    }
    &.blue{
      background: rgb(62,138,204);
    }
    &.light-blue{
      background: rgb(91,192,222);
    }
    &.dark-green{
      background: rgb(2,148,135);
    }
    &.green{
      background: rgb(92,184,92);
    }
    &.light-green{
      background: rgb(204,249,56);
    }
    &.yellow{
      background: rgb(254,234,59);
    }
    &.orange{
      background: rgb(240,173,77);
    }

    &.active{
      border:1px solid rgb(214,218,222);

    }
  }

  .bold{
    font-weight: 600;
  }

  &--create{
    .modal-title::before{
      content:'Создать участок';
    }

    .btn-danger{
      opacity:0;
    }
  }

  &--upd{
    .modal-title::before{
      content:'Редактировать участок';
    }

    .btn-danger{
      opacity:1;
      margin-right: 10px;
      width: 124px;
    }
  }
}