.operator-modify{
  width: 317px;
  font-family: "Open Sans";
  font-size: 12px;

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  &__photo{
    width: 122px;
    height: 122px;
    margin-top:0;
    border-radius: 150px;
    background: url(default.png) center center no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;

    &:hover::before{
      position: absolute;
      height: 122px;
      width: 122px;
      content:'';
      background: url(photo.png) center center no-repeat rgba(0,0,0,0.3);
      top:0;
      left:0;
      border-radius: 150px;
    }
  }

  &__label{
    font-size: 12px;
    font-weight: 600;
    color:rgb(119,119,119);
  }

  &__error{
    font-weight: 400;
    font-size: 10px;
    color:rgb(217,83,79);
  }

  .form-group input{
    margin-bottom: 5px;
    background: rgb(248,248,248);
  }

  &__apps{
    height: 111px;

    label{
      text-transform: uppercase;
    }

    button{
      width: 136px;
      margin-top:4px;

      &.disabled{
        color: rgb(203, 207, 211)!important;
        background: rgb(248,248,248)!important;
        border:1px solid rgb(214,218,222)!important;

        span{
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray;
        }
      }

      span{
        height: 16px;
        width: 16px;
        background-size: cover;
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        -ms-filter: brightness(0) invert(1);
        -o-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);

        &.photoreport{
          background: url(pr-red.png) center center no-repeat;
        }

        &.voting-day{
          background: url(vd-blue.png) center center no-repeat;
        }

        &.gps-tracker{
          background: url(gt-yellow.png) center center no-repeat;
        }

        &.agitator{
          background: url(ag-green.png) center center no-repeat;
        }
      }
    }
  }

  &__button{
    height: 30px;
  }
}