div.modal
    div.modal-dialog.operator-modify
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h6.modal-title Редактирование профиля
            div.modal-body
                form.text-center
                    label.operator-modify__photo
                        input.hide(type='file')
                    div.form-group.form-group-sm.text-left
                        label.operator-modify__label Пароль
                        input.form-control.input-sm(type='password',placeholder='Пароль')
                        input.form-control.input-sm(type='password',placeholder='Повторите пароль')
                        label.operator-modify__error Error
                    div.form-group.form-group-sm.text-left
                        label.operator-modify__label Личная информация
                        input.form-control.input-sm(type='text',placeholder='Фамилия')
                        label.operator-modify__error.hide Error
                        input.form-control.input-sm(type='text',placeholder='Имя')
                        label.operator-modify__error.hide Error
                        input.form-control.input-sm(type='text',placeholder='Отчество')
                        label.operator-modify__error.hide Error
                        input.form-control.input-sm(type='text',placeholder='Возраст')
                        label.operator-modify__error.hide Error
                        input.form-control.input-sm(type='text',placeholder='Телефон')
                        label.operator-modify__error.hide Error
                        input.form-control.input-sm(type='text',placeholder='Город')
                        label.operator-modify__error.hide Error
                    div.operator-modify__apps.text-left
                        label доступ к приложениям
                        button.btn.btn-danger.pull-left.btn-sm.text-center.disabled(type='button')
                            span.pull-left.photoreport
                            | Фотоотчет
                        button.btn.btn-warning.pull-right.btn-sm.text-center(type='button')
                            span.pull-left.gps-tracker
                            | GPS-трекер
                        button.btn.btn-primary.pull-left.btn-sm.text-center(type='button')
                            span.pull-left.voting-day
                            | Голосование
                        button.btn.btn-success.pull-right.btn-sm.text-center(type='button')
                            span.pull-left.agitator
                            | Агитатор
                    div.operator-modify__button
                        button.btn.btn-sm.btn-success.pull-right(type='submit') Сохранить
