div.vd-report-result
    p.vd-report-result__title 15 октября 2015
    p.vd-report-result__title Дополнительные выборы депутатов
        |Думы Сысертского городского округа по Октябрьскому одномандатному избирательному округу #6
        |и Патрушевскому одномандатному избирательному округу #7
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                p.panel-title ТИК 9342342
            div.panel-body.text-center
                div.vd-report-result__chart
                div.text-right
                    button.btn.btn-sm.btn-success Подробнее
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                p.panel-title ТИК 9342342
            div.panel-body.text-center
                div.vd-report-result__chart
                div.text-right
                    button.btn.btn-sm.btn-success Подробнее
    div.col-md-4
        div.panel.panel-default
            div.panel-heading
                p.panel-title ТИК 9342342
            div.panel-body.text-center
                div.vd-report-result__chart
                div.text-right
                    button.btn.btn-sm.btn-success Подробнее