.vd-report-result{
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  color:rgb(119,119,119);
  font-size:12px;

  &__title{
    font-weight: 400;
  }

  &__chart{
    width: 100%;
    height: 242px;
    background: yellowgreen;
    margin-bottom: 15px;
  }

  .panel-title{
    font-size: 12px;
    color:rgb(119,119,119);
  }

  text[text-anchor='end']{
    display: none!important;
  }

  tspan:first-child{
    font-weight: 600;
  }
}