.modal-election{
  width: 1000px;
  font-size: 12px;
  font-family: "Open Sans";

  input{
    background: rgb(248,248,248);
    color:rgb(119,119,119);
    font-size: 10px!important;
    box-sizing: border-box;
    padding-left:15px!important;
  }

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  .container-fluid{
    padding: 0;
    height: 245px;
  }

  .col-md-4{
    margin-bottom: 15px;

    &:nth-child(1){
      box-sizing: border-box;
      padding: 0 5px 0 0;
    }

    &:nth-child(2){
      padding: 0 5px;
    }

    &:nth-child(3){
      box-sizing: border-box;
      padding: 0 0 0 5px;
    }
  }

  &__btns{
    width: 100%;
    float:left;

    .btn-success{
      width: 111px;
    }
  }

  &__form-label{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  &__block-label{
    text-transform: uppercase;
    color:rgb(20,20,20);
    font-size:11px;
    margin-left:15px;
  }

  &__btn-block{
    margin-top:15px;
  }

  &__element{
    width: 100%;
    min-height: 55px;

    p{
      margin:0 0 0 13px;
      font-size: 10px;
      color:rgb(119,119,119);

      &.pd{
        padding-top: 15px;
      }
    }


    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    div[class*='col-md-']{
      padding: 0;
      min-height: inherit;
      height: inherit;
      position: relative;
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    color:rgb(119,119,119);
    border-radius: 5px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    margin-left:10px;
  }

  &--add{
    .modal-title::before{
      content:'Создать выборы';
    }

    .btn-danger{
      display: none;
    }
  }

  &--upd{
    .modal-title::before{
      content:'Редактировать выборы';
    }

    .btn-danger{
      display: block;
      margin-right: 15px;
    }
  }

  .bold{
    font-weight:600;
  }

  .vertical-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }
}