div.modal-dialog.modal-election.modal-election--upd.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title
        div.modal-body
            div.clearfix
                div.col-md-4
                    div.form-group.form-group-sm
                        label.modal-election__form-label Название выборов
                        input.form-control.input-sm(type='text',placeholder='Название выборов')
                    div.container-fluid
                        label.modal-election__block-label #
                        label.modal-election__block-label кандидаты (или партийные списки)
                        div.modal-election__element
                            div.col-md-1.text-center.vertical-center
                                p 1
                            div.col-md-9
                                p.bold.pd Афанасенко Николай Николаевич
                                p Партия "Яблоко"
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                        div.modal-election__element
                            div.col-md-1.text-center.vertical-center
                                p 1
                            div.col-md-9
                                p.bold.pd Афанасенко Николай Николаевич
                                p Партия "Яблоко"
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                        div.modal-election__element
                            div.col-md-1.text-center.vertical-center
                                p 1
                            div.col-md-9
                                p.bold.pd Афанасенко Николай Николаевич
                                p Партия "Яблоко"
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                        div.modal-election__element
                            div.col-md-1.text-center.vertical-center
                                p 2
                            div.col-md-9
                                p.bold.pd Афанасенко Николай Николаевич
                                p Партия "Яблоко"
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                    div.modal-election__btn-block.text-right
                        button.btn.btn-sm.btn-success Добавить кандидата
                div.col-md-4
                    div.form-group.form-group-sm
                        label.modal-election__form-label Дата
                        input.form-control.input-sm(type='text',placeholder='ДД.ММ.ГГГГ')
                    div.container-fluid
                        label.modal-election__block-label #
                        label.modal-election__block-label отслеживаемые пункты протокола
                        div.modal-election__element.vertical-center
                            div.col-md-1.text-center.vertical-center
                                p 1
                            div.col-md-9.vertical-center
                                p
                                    | бла бла бла бла бла бла бла бла бла
                                    | бла бла бла бла бла бла бла бла бла
                            div.col-md-2.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                        div.modal-election__element.vertical-center
                            div.col-md-1.text-center.vertical-center
                                p 2
                            div.col-md-9.vertical-center.text-left
                                p
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                                    |бла бла бла бла бла бла бла бла бла
                            div.col-md-2.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                    div.modal-election__btn-block.text-right
                        button.btn.btn-sm.btn-success Добавить пункт протокола
                div.col-md-4
                    div.form-group.form-group-sm
                        label.modal-election__form-label Место
                        input.form-control.input-sm(type='text',placeholder='Место')
                    div.container-fluid
                        label.modal-election__block-label участки
                        div.modal-election__element
                            div.col-md-10
                                p.bold.pd ТИК 3423 УИК 231 Школа #31
                                p Екатеринбург, ул. Красных Партизан, 252
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                        div.modal-election__element
                            div.col-md-10
                                p.bold.pd ТИК 3423 УИК 231 Школа #31
                                p Екатеринбург, ул. Красных Партизан, 252
                            div.col-md-2.text-center.vertical-center
                                button.modal-election__btn.glyphicon.glyphicon-remove
                    div.modal-election__btn-block.text-right
                        button.btn.btn-sm.btn-success Добавить участки
                div.modal-election__btns
                    button.btn.btn-sm.btn-success.pull-right Ок
                    button.btn.btn-sm.btn-danger.pull-right Удалить выборы
