div.modal-dialog.breakpoints.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Добавить контрольные точки
        div.modal-body
            div.breakpoints__map
            div.col-md-12.breakpoints__inputs
                div.col-md-6
                    p Адрес
                div.col-md-3
                    p Дата
                div.col-md-3
                    p Время
            form
                div.col-md-12.breakpoints__inputs
                    div.col-md-6.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='Адрес')
                    div.col-md-3.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='ДД.ММ.ГГ')
                    div.col-md-3.input-group-sm.breakpoints__btn.breakpoints__btn--remove
                        input.form-control.input-sm(type='text',placeholder='ЧЧ:ММ')
                        button.glyphicon.glyphicon-remove
                div.col-md-12.breakpoints__inputs.new-breakpoint
                    div.col-md-6.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='Адрес')
                    div.col-md-3.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='ДД.ММ.ГГ')
                    div.col-md-3.input-group-sm.breakpoints__btn.breakpoints__btn--remove
                        input.form-control.input-sm(type='text',placeholder='ЧЧ:ММ')
                        button.glyphicon.glyphicon-remove
                div.col-md-12.breakpoints__inputs.new-breakpoint
                    div.col-md-6.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='Адрес')
                    div.col-md-3.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='ДД.ММ.ГГ')
                    div.col-md-3.input-group-sm.breakpoints__btn.breakpoints__btn--remove
                        input.form-control.input-sm(type='text',placeholder='ЧЧ:ММ')
                        button.glyphicon.glyphicon-remove
                div.col-md-12.breakpoints__inputs
                    div.col-md-6.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='Адрес')
                    div.col-md-3.input-group-sm
                        input.form-control.input-sm(type='text',placeholder='ДД.ММ.ГГ')
                    div.col-md-3.input-group-sm.breakpoints__btn.breakpoints__btn--add
                        input.form-control.input-sm(type='text',placeholder='ЧЧ:ММ')
                        button.text-danger.glyphicon.glyphicon-ok
                p.breakpoints__help Чтобы добавить строку нажмите Enter
                div.text-right
                    button.btn.btn-success.btn-sm.breakpoints__success-btn Ок