.breakpoints{
  font-size: 12px;
  font-family: "Open Sans";
  width: 698px;

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  input{
    background: rgb(248,248,248);
  }

  &__map{
    width: 100%;
    height: 300px;
    background: greenyellow;
    margin-bottom: 15px;
  }

  &__inputs{
    padding: 0;
    margin-bottom: 5px;

    p{
      margin:0;
      color:rgb(119,119,119);
      font-weight:600 ;
    }

    div:first-child{
      padding: 0;
    }

    div:last-child{
      padding: 0;
    }
  }

  &__btn input{
    width: 120px;
    float:left;
  }

  &__btn button{
    border-radius: 5px;
    float:right;
    width: 30px;
    height: 30px;
  }

  &__btn--add button{
    border:2px solid #4cae4c;
    color:#4cae4c;
  }

  &__btn--remove button{
    border:2px solid rgb(217,83,79);
    color:rgb(217,83,79);
  }

  &__help{
    font-size:10px;
    margin:0;
    color:rgb(119,119,119);
  }

  &__success-btn{
    width: 105px;
  }
}