div.sort-filter
    label.sort-filter__label СОРТИРОВКА
    div.btn-group-vertical.btn-group-sm.text-left(role="group")
        button.btn.btn-default.active   По номеру
        button.btn.btn-default   По важности
        button.btn.btn-default   По времени
        button.btn.btn-default   По участку
        button.btn.btn-default   По исполнителю
        button.btn.btn-default   По группе