.sort-filter {
  width: 160px;

  .btn-group-vertical {
    width: 100%;

    .btn {
      color: rgb(119, 119, 119);
      text-align: left;
      width: 100%;
      padding: 10px;
    }
  }

  &__label {
    margin: 22px 0 8px 0;
    font-size: 11px;
  }
}
