$delete-btn: -0px -0px 9px 9px;
$ag: -0px -9px 12px 10px;
$pr: -0px -19px 14px 11px;
$gt: -0px -30px 12px 12px;
$pencil-btn: -0px -42px 12px 12px;
$ag-green: -0px -54px 14px 12px;
$pr-red: -0px -66px 16px 13px;
$key-btn: -0px -79px 14px 13px;
$vd: -0px -92px 14px 13px;
$gt-yellow: -0px -105px 14px 14px;
$modify-group: -0px -119px 14px 14px;
$vd-blue: -0px -133px 17px 14px;
$map-icon: -0px -147px 11px 15px;
$add-group: -0px -162px 20px 20px;
$foto: -0px -182px 43px 36px;
$default-table-photo: -0px -218px 48px 48px;
$default: -0px -266px 123px 123px;

@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}

@function sprite-width($sprite) {
  @return nth($sprite, 3);
}

@function sprite-height($sprite) {
  @return nth($sprite, 4);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite($sprite, $display: block) {
  @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon {
  background-image: url('sprite.png');
}
