.add-sites{
  width: 744px;
  font-family: "Open Sans";
  font-size: 12px;

  .col-md-12{
    padding: 0;
  }

  .modal-title{
    color:rgb(119,119,119);
    font-weight:600;
  }

  .dropdown{
    float:right;

    button{
      width: 157px;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 10px;

      p{
        line-height: 28px;
        margin:0;
        color:rgb(119,119,119);
        font-weight: 400;
      }

      span{
        background: rgb(56, 70, 87) none repeat scroll 0% 0%;
        height: 100%;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        color:rgb(189,193,197);
        line-height: 25px;
      }
    }
  }

  &__element{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    &:nth-child(odd){
      background: rgb(237,241,246);
    }

    &:nth-child(even){
      background: rgb(249,251,252);
    }

    div[class*='col-md-']{
      margin:0;
      height: 100%;
      padding: 14px 0 0 0;
    }

    p{
      margin:0;
      font-size: 10px;
      color:rgb(119,119,119);
    }
  }

  &__btn{
    height: 24px;
    width: 30px;
    border:2px solid rgb(214,218,222);
    border-radius: 5px;
    background: rgb(237,241,246);
    font-size: 10px;
    color:rgb(119,119,119);
  }

  &__success{
    width: 100%;
    text-align: right;
    clear: left;
    padding-top:15px;
    box-sizing: border-box;

    button{
      width: 105px;
    }
  }

  label{
    text-transform: uppercase;
    color:rgb(20,20,20);
    display: inline-block;
    margin:12px 15px 15px 0;
  }

  .bold{
    font-weight: 600;
  }
}