div.modal-dialog.add-sites.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Добавить участки
        div.modal-body
            div.col-md-12
                div.col-md-6.text-left
                    label доступные участки
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle.text-left
                            p.pull-left Dropdown
                            span.pull-right &#9660;
                        ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li.divider(role="separator")
                            a(href="#") Separated link
                div.col-md-6.text-left
                    label назначенные участки
            div.col-md-6
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-plus
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-plus
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-plus
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-plus
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-plus
            div.col-md-6
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-remove
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-remove
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-remove
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-remove
                div.add-sites__element
                    div.col-md-10
                        p.bold ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.text-center
                        button.add-sites__btn.glyphicon.glyphicon-remove
            div.add-sites__success
                button.btn.btn-sm.btn-success Ок