div.modal-dialog.users-breakpoint.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Назначение исполнителей
        div.modal-body
            div.col-md-6.pull-left
                label доступные исполнители
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
            div.col-md-6.pull-right
                label назначенные исполнители
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
                div.users-breakpoint__element
                    div.col-md-2
                        div.photo
                    div.col-md-8
                        p.bold Лучко Сергей Сергеевич
                        p 22 года
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
            div.users-breakpoint__map
            div.col-md-6.pull-left
                label доступные контрольные точки
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-plus
            div.col-md-6.pull-right
                label выбранные контрольные точки
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
                div.users-breakpoint__element
                    div.col-md-10
                        p.bold г Краснодар, Красная 5
                        p 19.02.14 14:45
                    div.col-md-2.text-center
                        button.users-breakpoint__btn.glyphicon.glyphicon-remove
            div.users-breakpoint__success-btn.text-right
                button.btn.btn-success.btn-sm Ок