.users-breakpoint{
  font-size: 12px;
  font-family: "Open Sans";
  width: 698px;

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  div.col-md-6{
    padding: 0;
    margin-bottom: 15px;

    &.pull-left{
      padding-right: 5px;
    }

    &.pull-right{
      padding-left: 5px;
    }
  }

  label{
    text-transform: uppercase;
    margin:5px 0;
  }

  &__map{
    width: 100%;
    float:left;
    height: 300px;
    background: yellowgreen;
  }

  &__element{
    width: 100%;
    height: 52px;

    &:nth-child(odd){
      background: rgb(237,241,246);
    }

    &:nth-child(even){
      background: rgb(249,251,252);
    }

    .photo{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background: yellowgreen;
      margin:6px;
    }

    .col-md-10,.col-md-8{
      height: 100%;
      padding: 10px 0;

      p{
        margin:0;
        font-size: 11px;
        color:rgb(119,119,119);
      }
    }

    div.col-md-2{
      padding: 0;
      height: 100%;
      line-height: 50px;
    }
  }

  &__btn{
    width: 30px;
    height: 24px;
    border-radius: 5px;
    border:1px solid rgb(214,218,222);
    position: relative;
    color:rgb(122,130,141);
  }

  &__success-btn{
    clear:left;

    button{
      width: 105px;
    }
  }

  .bold{
    font-weight: 600;
  }
}