.schedule{
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  color:rgb(119,119,119);
  font-size: 11px;

  & > div.col-md-12{
    height: 50%;

    .col-md-3{
      height: 100%;
      padding: 0 5px;
    }
  }

  &__title{
    color:rgb(20,20,20);
    line-height: 30px;
    padding-left: 15px;
    text-transform: uppercase;
  }

  &__element{
    position: relative;
    width: 100%;
    height: 55px;
    padding-left: 15px;
    cursor:pointer;

    p{
      margin:0;
    }

    .arrow-block{
      display: none;
    }

    &.active{
      background: #bfe2f2!important;

      div[class*='col-md-']{
        height: 100%;
      }

      .arrow-block{
        width: 3px;
        display: block;
        height: 100%;
        position: absolute;
        right: -3px;
        top:0;
        line-height: 55px;
        color:#78cae4;
        background: #78cae4;
      }
    }

    .padding{
      padding-top: 12px;
    }

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  div[class*='col-md-']{
    padding: 0;
  }

  &__map{
    width: 100%;
    height: 350px;
    background: yellowgreen;
    margin-bottom: 15px;
  }

  .pd-l{
    padding-left: 10px!important;
  }

  .photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.8);
    -ms-transform:  scale(0.8);
    -webkit-transform:  scale(0.8);
    -o-transform:  scale(0.8);
    transform:  scale(0.8);
    margin-left: -5px;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .btn-success{
    margin-left: 10px;
  }

  .btn-time{
    margin: 10px auto;
    right: 0;
    left: 0;
    position: absolute;
    width: 90%;
  }

  &__btn{
    width: 30px;
    height: 25px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    border-radius:5px;
  }

  .bold{
    font-weight: 600;
  }
}