div.schedule.show
    div.col-md-12
        div.col-md-3
            label.schedule__title точка
            div.schedule__element.active
                div.col-md-12
                    p.bold.padding Точка 1
                    p Россия, Краснодар, ул Красная, 5
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element
                div.col-md-12
                    p.bold.padding Точка 1
                    p Россия, Краснодар, ул Красная, 5
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element
                div.col-md-12
                    p.bold.padding Точка 1
                    p Россия, Краснодар, ул Красная, 5
                div.arrow-block
                    span.arrow &#9658;
        div.col-md-3
            label.schedule__title время
            div.schedule__element.text-center
                p.bold.padding 21 марта 2016 года
                p 12 : 00
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element.text-center
                p.bold.padding 21 марта 2016 года
                p 12 : 00
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element.text-center
                p.bold.padding 21 марта 2016 года
                p 12 : 00
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element.text-center
                p.bold.padding 21 марта 2016 года
                p 12 : 00
                div.arrow-block
                    span.arrow &#9658;
            div.schedule__element.active.text-center
                p.bold.padding 21 марта 2016 года
                p 12 : 00
                div.arrow-block
                    span.arrow &#9658;
            button.btn.btn-success.btn-sm.btn-time Добавить
        div.col-md-3
            label.schedule__title доступные исполнители
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-plus
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-plus
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-plus
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-plus
        div.col-md-3
            label.schedule__title назначенные исполнители
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-remove
            div.schedule__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-10.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-2
                    button.schedule__btn.glyphicon.glyphicon-remove
    div.col-md-12
        div.schedule__map
        div.col-md-12.text-right
            button.btn.btn-sm.btn-danger Отмена
            button.btn.btn-sm.btn-success Сохранить