div.modal
    div.modal-dialog.photoreport-create
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h6.modal-title Новый оператор
            div.modal-body
                form
                    div.photoreport-create__photo
                        label
                            input.hide(type='file')
                    div.form-group.form-group-sm
                        label.photoreport-create__label E-mail
                        input.form-control.input-sm(type="text",placeholder='E-mail')
                        p.photoreport-create__error Error
                    div.form-group.form-group-sm
                        label.photoreport-create__label Пароль
                        input.form-control.input-sm(type="text",placeholder='Пароль')
                        input.form-control.input-sm(type="text",placeholder='Повторите пароль')
                        p.photoreport-create__error Error
                    div.form-group.form-group-sm
                        label.photoreport-create__label Личная информация
                        input.form-control.input-sm(type="text",placeholder='Фамилия')
                        p.photoreport-create__error.hide Error
                        input.form-control.input-sm(type="text",placeholder='Имя')
                        p.photoreport-create__error.hide Error
                        input.form-control.input-sm(type="text",placeholder='Отчество')
                        p.photoreport-create__error.hide Error
                        input.form-control.input-sm(type="text",placeholder='Возраст')
                        p.photoreport-create__error.hide Error
                        input.form-control.input-sm(type="text",placeholder='Телефон')
                        p.photoreport-create__error.hide Error
                        input.form-control.input-sm(type="text",placeholder='Город')
                        p.photoreport-create__error.hide Error
                    div.photoreport-create__apps
                        label доступ к приложениям
                        button.btn.btn-danger.pull-left.btn-sm.text-center(type='button')
                            span.pull-left.photoreport
                            | Фотоотчет
                        button.btn.btn-warning.pull-right.btn-sm.text-center(type='button')
                            span.pull-left.gps-tracker
                            | GPS-трекер
                        button.btn.btn-primary.pull-left.btn-sm.text-center(type='button')
                            span.pull-left.voting-day
                            | Голосование
                        button.btn.btn-success.pull-right.btn-sm.text-center(type='button')
                            span.pull-left.agitator
                            | Агитатор
                    div.photoreport-create__button
                        button.btn.btn-sm.btn-success.pull-right(type='submit') Сохранить