.photoreport-create{
  width: 320px;
  font-family: "Open Sans";
  font-size:12px;

  .modal-title{
    color:rgb(119,119,119);
  }

  &__photo{
    height: auto;
    text-align: center;

    label{
      margin-top:12px;
      height: 120px;
      width: 120px;
      border-radius: 150px;
      background:url(default.png) center center no-repeat;
      background-size:cover;
      cursor:pointer;
      position: relative;

      &:hover::before{
        position: absolute;
        content: '';
        background: url(foto.png) center center no-repeat rgba(0,0,0,0.3);
        height: 120px;
        width: 120px;
        border-radius: 150px;
        top:0;
        left:0;
      }
    }
  }

  .form-group input{
    margin-bottom: 6px;
    background: rgb(248,248,248);
    color:rgb(119,119,119);
  }

  &__label{
    color:rgb(119,119,119);
  }

  &__error{
    color: #a94442;
  }

  &__apps{
    height: 111px;

    label{
      text-transform: uppercase;
    }

    button{
      width: 136px;
      margin-top:4px;

      &.disabled{
        color: rgb(203, 207, 211)!important;
        background: rgb(248,248,248)!important;
        border:1px solid rgb(214,218,222)!important;

        &:hover{}
      }

      span{
        height: 16px;
        width: 16px;
        background-size: cover;
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        -ms-filter: brightness(0) invert(1);
        -o-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);

        &.photoreport{
          background: url(pr-red.png) center center no-repeat;
        }

        &.voting-day{
          background: url(vd-blue.png) center center no-repeat;
        }

        &.gps-tracker{
          background: url(gt-yellow.png) center center no-repeat;
        }

        &.agitator{
          background: url(ag-green.png) center center no-repeat;
        }
      }
    }
  }

  &__button{
    height: 30px;
  }
}