.modal-sites{
  width: 744px;
  font-size: 12px;
  font-family: "Open Sans";

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  .col-md-6{
    height: 330px;
    margin-bottom: 15px;

    &:nth-child(odd){
      padding: 0 7.5px 0 0;
    }

    &:nth-child(even){
      padding: 0 0 0 7.5px;
    }
  }

  &__btn-success{
    width: 110px;
  }

  &__element{
    min-height: 55px;

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    div[class*='col-md-']{
      padding: 0;
      min-height: inherit;
    }

    p{
      margin:0;
      color:rgb(119,119,119);
      font-size: 11px;
      padding-left: 15px;
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    color:rgb(119,119,119);
    border-radius: 5px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    margin-left:20px;
  }

  label{
    text-transform: uppercase;
    color:rgb(20,20,20);
    font-weight: 600;
    font-size: 11px;
    padding-left: 15px;
    margin-top:15px;
  }

  .bold{
    font-weight: 600;
  }

  .pd-t{
    padding-top: 12px;
  }

  .pd-a{
    padding: 15px;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .dropdown{
    float:right;

    button{
      width: 157px;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 10px;

      p{
        line-height: 28px;
        margin:0;
        color:rgb(119,119,119);
        font-weight: 400;
      }

      span{
        background: rgb(56, 70, 87) none repeat scroll 0% 0%;
        height: 100%;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        color:rgb(189,193,197);
        line-height: 25px;
      }
    }
  }
}