div.modal-dialog.modal-sites.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Назначить участки
        div.modal-body.clearfix
            div.col-md-6
                label доступные для назначения выборы
                div.modal-sites__element.vertical-center
                    div.col-md-10.vertical-center
                        p.vertical-center.pd-a
                            |Дополнительные выборы депутатов
                            |Думы Сысертского городского округа
                            |по Октябрьскому одномандатному
                            |избирательному округу #6 и
                            |Патрушевскому одномандатному
                            |избирательному округу
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
                div.modal-sites__element.vertical-center
                    div.col-md-10.vertical-center
                        p.vertical-center.pd-a
                            | Дополнительные выборы депутатов
                            | Думы Сысертского городского округа
                            | по Октябрьскому одномандатному
                            | избирательному округу #6 и
                            | Патрушевскому одномандатному
                            | избирательному округу
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
            div.col-md-6
                label выборы, на которые будут назначаться участки
                div.modal-sites__element.vertical-center
                    div.col-md-10.vertical-center
                        p.vertical-center.pd-a
                            | Дополнительные выборы депутатов
                            | Думы Сысертского городского округа
                            | по Октябрьскому одномандатному
                            | избирательному округу #6 и
                            | Патрушевскому одномандатному
                            | избирательному округу
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-remove
            div.col-md-6
                label доступные участки
                div.dropdown
                    button.btn.btn-default.dropdown-toggle.text-left
                        p.pull-left Все участки
                        span.pull-right &#9660;
                    ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                        li
                            a(href="#") Action
                        li
                            a(href="#") Action
                        li
                            a(href="#") Action
                        li.divider(role="separator")
                        a(href="#") Separated link
                div.modal-sites__element
                    div.col-md-10
                        p.bold.pd-t ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
                div.modal-sites__element
                    div.col-md-10
                        p.bold.pd-t ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
                div.modal-sites__element
                    div.col-md-10
                        p.bold.pd-t ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
                div.modal-sites__element
                    div.col-md-10
                        p.bold.pd-t ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-plus
            div.col-md-6
                label назначенные участки
                div.modal-sites__element
                    div.col-md-10
                        p.bold.pd-t ТИК 3423 УИК 231 Школа #31
                        p Екатеринбург, ул. Красных Партизан, 252
                    div.col-md-2.vertical-center
                        button.modal-sites__btn.glyphicon.glyphicon-remove
            button.btn.btn-sm.btn-success.pull-right.modal-sites__btn-success Ок