div.modal-dialog.ag-address-upd.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title.bold Редактировать адрес
        div.modal-body.clearfix
            div.col-md-12
                div.col-md-3
                    label Регион
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text',placeholder='Регион')
                div.col-md-3
                    label Город
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text',placeholder='Город')
                div.col-md-3
                    label Улица
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text',placeholder='Улица')
                div.col-md-3
                    label Дом
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text',placeholder='Дом')
            div.col-md-12
                div.col-md-6
                    label Проход 1
                div.col-md-6
                    label Проход 2
            div.col-md-12
                div.col-md-3
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle.text-left
                            p.pull-left Свердловская область
                            span.pull-right &#9660;
                        ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li.divider(role="separator")
                            a(href="#") Separated link
                div.col-md-3
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle.text-left
                            p.pull-left Свердловская область
                            span.pull-right &#9660;
                        ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li.divider(role="separator")
                            a(href="#") Separated link
                div.col-md-3
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle.text-left
                            p.pull-left Свердловская область
                            span.pull-right &#9660;
                        ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li.divider(role="separator")
                            a(href="#") Separated link
                div.col-md-3
                    div.dropdown
                        button.btn.btn-default.dropdown-toggle.text-left
                            p.pull-left Свердловская область
                            span.pull-right &#9660;
                        ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li
                                a(href="#") Action
                            li.divider(role="separator")
                            a(href="#") Separated link
            div.col-md-12
                div.col-md-6.ag-address-upd__element-block
                    label.ag-address-upd__title доступные участки
                    div.ag-address-upd__element
                        div.col-md-10.vertical-center
                            div.label.label-success Участок 1
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-plus
                    div.ag-address-upd__element
                        div.col-md-10.vertical-center
                            div.label.label-primary Участок 2
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-plus
                div.col-md-6.ag-address-upd__element-block
                    label.ag-address-upd__title участки, на которые назначен этот адрес
                    div.ag-address-upd__element
                        div.col-md-10.vertical-center
                            div.label.label-warning Участок 3
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-remove
                    div.ag-address-upd__element
                        div.col-md-10.vertical-center
                            div.label.label-primary Участок 4
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-remove
                    div.ag-address-upd__element
                        div.col-md-10.vertical-center
                            div.label.label-danger Участок 5
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-remove
            div.col-md-12
                div.col-md-6.ag-address-upd__element-block
                    label.ag-address-upd__title доступные Испонители
                    div.ag-address-upd__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Пупочкинов Василий Антонович
                            p 22 года
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-plus
                    div.ag-address-upd__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Пупочкинов Василий Антонович
                            p 22 года
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-plus
                div.col-md-6.ag-address-upd__element-block
                    label.ag-address-upd__title исполнители, назначенные на участок
                    div.ag-address-upd__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Пупочкинов Василий Антонович
                            p 22 года
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-remove
                    div.ag-address-upd__element
                        div.col-md-2.vertical-center
                            div.icon.photo
                        div.col-md-8
                            p.bold Пупочкинов Василий Антонович
                            p 22 года
                        div.col-md-2.vertical-center
                            button.ag-address-upd__btn.glyphicon.glyphicon-remove
            div.col-md-12.text-right
                button.btn.btn-sm.btn-danger Удалить адрес
                button.btn.btn-sm.btn-success Ок