.ag-address-upd{
  width: 744px;
  font-family: "Open Sans";
  font-size: 11px;
  color:rgb(119,119,119);

  input{
    background: rgb(248,248,248);
  }

  .col-md-12{
    padding: 0;
  }

  &__element-block{
    height: 250px;
  }

  &__title{
    color:rgb(20,20,20);
    text-transform: uppercase;
    margin-left:15px;
  }

  .photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-left: -5px;
  }

  &__btn{
    width: 30px;
    height: 25px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    border-radius:5px;
    margin-left:20px;
  }

  &__element{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    div[class*='col-md-']{
      padding: 0;
      height: 100%;

      p{
        &:first-of-type{
          padding-top: 12px;
        }
        margin:0;
      }
    }

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  .col-md-6:first-of-type{
    padding: 0 7.5px 0 0;
  }

  .col-md-6:last-of-type{
    padding: 0 0 0 7.5px;
  }

  .col-md-3{

    &:nth-of-type(1){
      padding: 0 11.25px 0 0;
    }
    &:nth-of-type(2){
      padding: 0 7.5px 0 3.75px;
    }
    &:nth-of-type(3){
      padding: 0 3.75px 0 7.5px;
    }
    &:nth-of-type(4){
      padding: 0 0 0 11.25px;
    }
  }

  .bold{
    font-weight: 600;
  }

  .btn-danger{
    width: 125px;
  }

  .btn-success{
    width: 110px;
    margin-left:10px;
  }

  .dropdown{
    width: 100%;
    margin-bottom: 15px;

    button{
      width: 100%;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 10px;
      background-color: rgb(248, 248, 248) !important;

      p{
        line-height: 28px;
        margin:0;
        color:rgb(119,119,119);
        font-weight: 400;
      }

      span{
        background: rgb(56, 70, 87) none repeat scroll 0% 0%;
        height: 100%;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        color:rgb(189,193,197);
        line-height: 25px;
      }
    }
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }
}