div.vd-report-result-details
    div.panel.panel-default
        div.panel-heading
            p.panel-title.bold 15 октября 2015
            p.panel-title Дополнительные выборы депутатов Думы Сысертского городского округа по Октябрьскому одномандатному избирательному округу #6 и Патрушевскому одномандатному избирательному округу #7
        div.panel-body
            div.vd-report-result-details__chart
        div.panel-footer.clearfix
            div.col-md-10
                div.label.label-primary Федеральные выборы
                div.label.label-success Региональные выборы
                div.label.label-danger Еще какие-нибудь выборы
            div.col-md-2.text-right
                button.btn.btn-sm.btn-success Подробнее