.vd-report-result-details{
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  color:rgb(119,119,119);
  font-size:12px;

  .panel{
    width: 800px;
  }

  .panel-title{
    color:rgb(119,119,119);
    font-size:12px;
    margin-bottom: 5px;
  }

  &__chart{
    width: 100%;
    height: 340px;
  }

  tspan{
    font-weight: 600;
  }

  text[text-anchor='end']{
    display: none!important;
  }

  .highcharts-legend-item span{
    font-family: "Open Sans"!important;

    & > p:first-child{
      font-weight: 600;
      margin:0;
    }

    & > p:last-child{
      font-weight: 400;
      margin:0;
      font-size: 10px;
    }
  }

  .col-md-10{
    padding: 0;

    .label{
      margin-right: 10px;
    }
  }

  .col-md-2{
    padding: 0;
  }

  .btn-success{
    width: 110px;
  }

  .bold{
    font-weight: 600;
  }
}
