div.routes.show
    div.col-md-12
        div.col-md-3
            label.routes__title исполнители
            div.routes__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-11.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-1
                    input(type='checkbox')
            div.routes__element.vertical-center
                div.col-md-2
                    div.icon.photo
                div.col-md-11.pd-l
                    p.bold Иван Петров Изольдович
                    p 22 зуба
                div.col-md-1
                    input(type='checkbox')
        div.col-md-4
            label.routes__title точки
            div.routes__element.vertical-center
                div.col-md-10
                    p.bold Точка 1
                    p Россия, Краснодар, ул Красная, 5
                div.col-md-2
                    button.btn.btn-primary.btn-sm.glyphicon.glyphicon-plus
            div.routes__element.vertical-center
                div.col-md-10
                    p.bold Точка 1
                    p Россия, Краснодар, ул Красная, 5
                div.col-md-2
                    button.btn.btn-primary.btn-sm.glyphicon.glyphicon-plus
        div.col-md-5
            label.routes__title маршрут
            div.routes__element.vertical-center
                div.col-md-6
                    p.bold Маршрут 1
                    p Россия, Краснодар, ул Стасова, 5
                div.col-md-5
                    p.bold 1 мая 2016 года
                    p 12 : 00
                div.col-md-1
                    button.glyphicon.routes__btn.glyphicon-remove
            div.routes__element.vertical-center
                div.col-md-6
                    p.bold Маршрут 1
                    p Россия, Краснодар, ул Стасова, 5
                div.col-md-5
                    p.bold 1 мая 2016 года
                    p 12 : 00
                div.col-md-1
                    button.glyphicon.routes__btn.glyphicon-remove
    div.col-md-12
        div.routes__map.col-md-12
        div.col-md-12.text-right
            button.btn.btn-sm.btn-danger Отмена
            button.btn.btn-sm.btn-success Сохранить