.routes{
  width: 100%;
  height: 100%;
  font-size: 11px;
  color:rgb(119,119,119);
  font-family: "Open Sans";

  & > div.col-md-12{
    height: 50%;
  }

  &__map{
    height: 350px;
    margin-bottom: 15px;
    background: yellowgreen;
  }

  &__title{
    color:rgb(20,20,20);
    text-transform: uppercase;
    padding-left: 15px;
    line-height: 30px;
  }

  .photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-right: 15px;
  }

  div.col-md-4{
    padding: 0 4px;
    box-sizing: border-box;
  }

  p{
    margin: 0;
  }

  .pd-l{
    padding-left: 10px!important;
  }

  &__element{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    border:2px solid rgb(217,83,79);
    color:rgb(217,83,79)!important;
    background: rgb(249,251,252);
    border-radius:5px;
  }

  [class*='col-md-']{
    padding: 0;
  }

  .btn-success{
    margin-left: 10px;
  }

  .btn-primary{
    color:rgb(255,255,255);
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .bold{
    font-weight: 600;
  }
}
