div.ag-history
    div.container
        span.col-md-12
            label фото
            label исполнители
        div.col-md-12
            div.vertical-center
                button.ag-history__btn.glyphicon.glyphicon-plus
                div.icon.photo
            div
                p.bold Кузнецов Александр Николаевич
                p 22 года
        div.container.pull-right.hide
            div.col-md-11.pull-right
            div.container.pull-right
                div.col-md-10.pull-right
                div.container.pull-right
                    div.col-md-9.pull-right
    div.container
        div.col-md-12
            div.vertical-center
                button.ag-history__btn.glyphicon.glyphicon-plus
                div.icon.photo
            div
                p.bold Кузнецов Александр Николаевич
                p 22 года
        div.container.pull-right.hide
            div.col-md-11.pull-right
            div.container.pull-right
                div.col-md-10.pull-right
                div.container.pull-right
                    div.col-md-9.pull-right
    div.container
        div.col-md-12
            div.vertical-center
                button.ag-history__btn.glyphicon.glyphicon-minus
                div.icon.photo
            div
                p.bold Кузнецов Александр Николаевич
                p 22 года
        div.container.pull-right.show
            label.col-md-11.pull-right участки
            div.col-md-11.pull-right.vertical-center
                button.ag-history__btn.glyphicon.glyphicon-minus
                span.label.label-primary Участок 1
            div.container.pull-right
                label.col-md-10.pull-right проходы
                div.col-md-10.pull-right.vertical-center
                    button.ag-history__btn.glyphicon.glyphicon-plus
                    p Проход 1
                div.container.pull-right.hide
                    label.col-md-9.pull-right адреса
                    div.col-md-9.pull-right.vertical-center
                        button.ag-history__btn.glyphicon.glyphicon-plus
                        p Свердловская Область, Екатеринбург, ул. Большой Конный полуостров, 253
                    div.col-md-9.pull-right.vertical-center
                        button.ag-history__btn.glyphicon.glyphicon-plus
                        p Свердловская Область, Екатеринбург, ул. Большой Конный полуостров, 253
                div.col-md-10.pull-right.vertical-center
                    button.ag-history__btn.glyphicon.glyphicon-minus
                    p Проход 2
                div.container.pull-right
                    label.col-md-9.pull-right адреса
                    div.col-md-9.pull-right.vertical-center
                        button.ag-history__btn.glyphicon.glyphicon-plus
                        p Свердловская Область, Екатеринбург, ул. Большой Конный полуостров, 253
                    div.col-md-9.pull-right.vertical-center
                        button.ag-history__btn.glyphicon.glyphicon-plus
                        p Свердловская Область, Екатеринбург, ул. Большой Конный полуостров, 253

