.ag-history{
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  color:rgb(119,119,119);
  font-size: 11px;

  span.label{
    margin-left:15px;
  }

  span.col-md-12{
    padding-left: 40px;

    label{
      text-transform: uppercase;
      color:rgb(20,20,20);
      padding-left: 25px;
    }
  }

  .container{
    padding: 0;

    &:nth-of-type(even) > div[class~='col-md-12']{
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd) > div[class~='col-md-12']{
      background: rgb(249,251,252);
    }
  }

  p{
    margin:0;
  }

  label[class*='col-md-']{
    padding-left: 60px;
    margin:0;
    text-transform: uppercase;
    color:rgb(20,20,20);
    line-height: 40px;
  }

  div[class*='col-md-']{
    padding: 0;
    height: 55px;

    p{
      padding-left: 15px;
    }

    & > div{
      height: 100%;
      float:left;

      & p:first-of-type{
        padding-top: 12px;
      }
    }
  }

  div.col-md-9{
    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  div.col-md-10,div.col-md-11{
    &:nth-of-type(4n+3){
      background: rgb(237,241,246);
    }

    &:nth-of-type(4n+1){
      background: rgb(249,251,252);
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    border-radius:5px;
    margin-left:15px;
  }

  .photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-left: 15px;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .bold{
    font-weight: 600;
  }
}