div.group-filter
    label
    div.btn-group-vertical.btn-group-sm(role="group")
        button.btn.btn-default.active
            span.pull-left Все
            span.add.pull-right
            span.label.label-primary.pull-right 5
        button.btn.btn-default
            span.pull-left Все
            span.modify.pull-right
            span.label.label-primary.pull-right 5
        button.btn.btn-default
            span.pull-left Все
            span.modify.pull-right
            span.label.label-primary.pull-right 5
        button.btn.btn-default
            span.pull-left Все
            span.modify.pull-right
            span.label.label-primary.pull-right 5
    button.btn.btn-success.btn-sm.modify-group