%btn-group-vertical {
  width: 100%;

  .btn {
    color: rgb(119, 119, 119);
    text-align: left;
    width: 100%;
    padding: 10px;

    div{
      padding: 0;
      margin:0;
    }
  }
}

%label{
  margin: 22px 0 8px 0;
  font-size: 11px;
  text-transform: uppercase;
}

%span{
  font-weight: 600;
  color:rgb(119,119,119);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60px;

  &.label{
    color:white;
    font-size: 12px;
  }
}

%active{
  background:rgb(56,70,87)!important;

  span{
    color:rgb(255,255,255);
  }

  span.label{
    color:rgb(120,128,139);
    background: rgb(255,255,255);
  }
}

%btn-success{
  margin-top: 15px;
  width: 100%;
  color:rgb(255,255,255);
}

.group-filter {
  width: 160px;

  .btn-group-vertical {
    @extend %btn-group-vertical;
  }

  label {
    @extend %label;

    &::before {
      content: "фильтрация по группам";
    }
  }

  span {
    @extend %span;
  }

  button.active {
    @extend %active;
  }

  button.modify-group {
    @extend %btn-success;

    &::before {
      content: 'Редактировать группы';
    }
  }
}


.group-filter--change {
  width: 160px;

  .btn-group-vertical {
    @extend %btn-group-vertical;
  }

  label {
    @extend %label;

    &::before {
      content: "редактирование групп";
    }
  }

  span {
    @extend %span;

    &.add {
      background: url(add-group.png) center center no-repeat;
      width: 15px;
      height: 15px;
      background-size: cover;
      margin-left: 15px;
    }

    &.modify {
      background: url(modify-group.png) center center no-repeat;
      width: 15px;
      height: 15px;
      background-size: cover;
      margin-left: 15px;
    }
  }

  button {
    &.modify-group {
      @extend %btn-success;

      &::before {
        content: "готово";
      }
    }

    &.active {
      @extend %active;
    }
  }
}