.operator-key{
  width: 772px;
  height: 438px;
  font-size: 12px;
  color:rgb(119,119,119);

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  p{
    margin:0;
  }

  table,th,tr,td,thead,tbody{
    border:         none!important;
    vertical-align: middle!important;
  }

  thead{
    text-transform: uppercase;
    font-size:11px;
  }

  input{
    width: 60px!important;
    height: 34px;
  }

  tr:nth-child(odd){
    background: rgb(249, 251, 252);
  }

  tr:nth-child(even){
    background: rgb(237, 241, 246);
  }

  th{
    padding-top: 0;
    color:rgb(17,17,17);

    p{
      font-weight: 300;
      font-size: 8px;
      margin: 0;
      text-transform:none;
    }

    &:last-child{
      padding-top: 16px;
    }
  }

  &__btn{
    color:rgb(228,230,233);
    width: 34px;
    background: rgb(56,70,87);

    &:hover{
      color:rgb(228,230,233);
      background: rgba(56,70,90,0.95);
    }
  }

  span{
    &.img{
      width: 35px;
      height: 15px;
    }

    &.photoreport{
      background: url(pr-red.png) center center no-repeat;
    }

    &.voting-day{
      background: url(vd-blue.png) center center no-repeat;
    }

    &.gps-tracker{
      background: url(gt-yellow.png) center center no-repeat;
    }

    &.agitator{
      background: url(ag-green.png) center center no-repeat;
    }
  }

  &__btn-success{
    height: 35px;

    button{
      width: 129px;
      height: 34px;
    }
  }

  .bold{
    font-weight: 600;
  }
}