div.modal
    div.modal-dialog.operator-key.show
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h6.modal-title Ключи
            div.modal-body
                table.table
                    thead
                        tr
                            th приложение
                            th ваши ключи
                            th отдать / забрать ключи
                            th
                                span ключи оператора
                                p Всего / использовано / свободно
                    tbody
                        tr
                            td
                                span.img.photoreport.pull-left
                                span.bold Фотоотчет
                            td
                                p
                                    span.bold 124&nbsp;
                                    | свободных ключа
                            td
                                div.input-group.input-group-sm
                                    div.btn-group
                                        button.btn.pull-left.operator-key__btn -
                                        input.form-control.input-sm.pull-left.text-center(type='text',value='0')
                                        button.btn.pull-right.operator-key__btn +
                            td
                                p
                                    span.bold 56&nbsp;
                                    | свободных ключей
                                p   56 / 14 / 42
                        tr
                            td
                                span.img.voting-day.pull-left
                                span.bold Голосование
                            td
                                p
                                    span.bold 124&nbsp;
                                    | свободных ключа
                            td
                                div.input-group.input-group-sm
                                    div.btn-group
                                        button.btn.pull-left.operator-key__btn -
                                        input.form-control.input-sm.pull-left.text-center(type='text',value='0')
                                        button.btn.pull-right.operator-key__btn +
                            td
                                p
                                    span.bold 56&nbsp;
                                    | свободных ключей
                                p   56 / 14 / 42
                        tr
                            td
                                span.img.gps-tracker.pull-left
                                span.bold GPS-трекер
                            td
                                p
                                    span.bold 124&nbsp;
                                    | свободных ключа
                            td
                                div.input-group.input-group-sm
                                    div.btn-group
                                        button.btn.pull-left.operator-key__btn -
                                        input.form-control.input-sm.pull-left.text-center(type='text',value='0')
                                        button.btn.pull-right.operator-key__btn +
                            td
                                p
                                    span.bold 56&nbsp;
                                    | свободных ключей
                                p   56 / 14 / 42
                        tr
                            td
                                span.img.agitator.pull-left
                                span.bold Агитатор
                            td
                                p
                                    span.bold 124&nbsp;
                                    | свободных ключа
                            td
                                div.input-group.input-group-sm
                                    div.btn-group
                                        button.btn.pull-left.operator-key__btn -
                                        input.form-control.input-sm.pull-left.text-center(type='text',value='0')
                                        button.btn.pull-right.operator-key__btn +
                            td
                                p
                                    span.bold 56&nbsp;
                                    | свободных ключей
                                p   56 / 14 / 42
                div.operator-key__btn-success
                    button.btn.btn-success.btn-sm.pull-right Ок