.operator-delete{
  height: 138px;
  width: 385px;
  font-family: "Open Sans";

  .modal-content{
    border:1px solid rgb(217,83,79);
  }

  .modal-header{
    border-radius: 5px 5px 0 0;
    background:rgb(217,83,79);
  }

  .modal-title{
    color:rgb(255,255,255);
  }

  p{
    color:rgb(51,51,51);
    font-size: 12px;
  }

  &__btns{
    height: 34px;

    button{
      height: 34px;
      margin-right: 5px;
    }
  }
}