div.modal.show
    div.modal-dialog.operator-delete
        div.modal-content
            div.modal-header
                h5.modal-title Внимание!
            div.modal-body
                p Вы действительно хотите удалить оператора?
                div.operator-delete__btns
                    button.btn.btn-danger.btn-sm.pull-right Да, удалить
                    button.btn.btn-default.btn-sm.pull-right Нет