.profile-editor {
  float:        left;
  height:       100%;
  width:        316px;
  font-family:  'Open Sans';
  font-size:    12px;

  &__avatar{
    height:   120px;
    width:    120px;
    margin:0 auto;
    border-radius:    150px;
    background-size:  cover;
    cursor:           pointer;
    background:       url('default.png') center center no-repeat;
    transition:       1s all;

    &:hover::before{
      height: 120px;
      position: absolute;
      width: 120px;
      content:'';
      background: url('foto.png') center center no-repeat rgba(0,0,0,0.3);
      border-radius: 150px;
    }
  }

  &__inputs{
    margin-bottom: 10px;
    width:  100%;
  }

  .form-group {
    position: relative;

    .tooltip {
      top: 25px;
      left: 282px;

      .tooltip-arrow{
        border-right-color: #d43f3a;
        top:12px;
      }

      .tooltip-inner{
        background-color: #d9534f;
        border-color: #d43f3a;
      }
    }
  }
}