div.profile-editor
    div.panel.panel-default
        div.panel-heading
            | Редактирование профиля
        div.panel-body
            form.profile-editor__inputs
                div.form-group.input-group-sm
                    label.profile-editor__avatar.center-block
                        input.hide(type='file')
                div.form-group.input-group-sm
                    label Фамилия
                    input.form-control.input-sm(type="text",placeholder='Фамилия',data-toggle='tooltip')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                div.form-group.input-group-sm
                    label Имя
                    input.form-control.input-sm(type="text",placeholder='Имя')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                div.form-group.input-group-sm
                    label Отчество
                    input.form-control.input-sm(type="text",placeholder='Отчество')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                div.form-group.input-group-sm
                    label Возраст
                    input.form-control.input-sm(type="text",placeholder='Возраст')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                div.form-group.input-group-sm
                    label Телефон
                    input.form-control.input-sm(type="text",placeholder='Телефон')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                div.form-group.input-group-sm
                    label Город
                    input.form-control.input-sm(type="text",placeholder='Город')
                    div.tooltip.right.in
                        div.tooltip-arrow
                        div.tooltip-inner Ошибка
                button.btn.btn-success.btn-sm.pull-right(type='submit') Сохранить