.modal-group{
  width: 744px;
  font-family: "Open Sans";
  font-size: 11px;
  color:rgb(119,119,119);

  &__block-title{
    color:rgb(20,20,20);
    font-weight: 600;
    text-transform: uppercase;
    margin:0 0 5px 15px;
  }

  &__element{
    height: 55px;
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    div[class*='col-md-']{
      padding: 0;
      height: inherit;
    }

    p{
      margin:0;
      padding-left: 15px;
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    color:rgb(119,119,119);
    border-radius: 5px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    margin-left:20px;
  }

  .pd{
    padding-top: 12px;
  }

  label{
    width: 100%;
  }

  .col-md-6:nth-of-type(odd){
    padding: 0 7.5px 0 0;
  }

  .col-md-6:nth-of-type(even){
    padding: 0 0 0 7.5px;
  }

  .col-md-6:nth-child(1), .col-md-6:nth-child(2){
    height: 74px;
  }

  .col-md-6:nth-child(3), .col-md-6:nth-child(4){
    height: 320px;
    margin-bottom: 15px;

  }

  .col-md-12{
    padding: 0;
  }

  input{
    width: 245px;
    background: rgb(248,248,248);
    font-size: 10px;
  }

  .btn-success{
    width: 110px;
  }

  .modal-title{
    font-weight: 600;
  }

  .default{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-left: -5px;
  }

  .bold{
    font-weight: 600;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  .point{
    width: 11px;
    height: 11px;
    border-radius:50%;
    margin: 10px 10px 10px 0;
    cursor:pointer;
    display: inline-block;

    &.red{
      background: rgb(217,83,79);
    }
    &.crimson{
      background: rgb(223,23,90);
    }
    &.purple{
      background: rgb(150,40,75);
    }
    &.violet{
      background: rgb(103,57,183);
    }
    &.dark-blue{
      background: rgb(62,80,180);
    }
    &.blue{
      background: rgb(62,138,204);
    }
    &.light-blue{
      background: rgb(91,192,222);
    }
    &.dark-green{
      background: rgb(2,148,135);
    }
    &.green{
      background: rgb(92,184,92);
    }
    &.light-green{
      background: rgb(204,249,56);
    }
    &.yellow{
      background: rgb(254,234,59);
    }
    &.orange{
      background: rgb(240,173,77);
    }

    &.active{
      border:1px solid rgb(214,218,222);

    }
  }

  &--create{
    .modal-title::before{
      content: 'Создать группу';
    }

    .btn-danger{
      display: none;
    }
  }

  &--upd{

    .modal-title::before{
      content: 'Редактировать группу';
    }

    .btn-danger{
      margin-right: 15px;
      display: block;
    }
  }
}