div.modal-dialog.modal-group.modal-group--create.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title
        div.modal-body.clearfix
            div.col-md-6
                div.form-group.form-group-sm
                    label Название группы
                    input.form-control.input-sm(type='text',placeholder='Название группы')
            div.col-md-6
                label Цвет метки
                div.point.red.active
                div.point.crimson
                div.point.purple
                div.point.violet
                div.point.dark-blue
                div.point.blue
                div.point.light-blue
                div.point.dark-green
                div.point.green
                div.point.light-green
                div.point.yellow
                div.point.orange
            div.col-md-6
                label.modal-group__block-title исполнители
                div.modal-group__element
                    div.col-md-2.vertical-center
                        div.icon.default.img-circle
                    div.col-md-8
                        p.bold.pd Кузнецов Александр Михайлович
                        p 22 года
                    div.col-md-2.vertical-center
                        button.modal-group__btn.glyphicon.glyphicon-plus
                div.modal-group__element
                    div.col-md-2.vertical-center
                        div.icon.default.img-circle
                    div.col-md-8
                        p.bold.pd Кузнецов Александр Михайлович
                        p 22 года
                    div.col-md-2.vertical-center
                        button.modal-group__btn.glyphicon.glyphicon-plus
                div.modal-group__element
                    div.col-md-2.vertical-center
                        div.icon.default.img-circle
                    div.col-md-8
                        p.bold.pd Кузнецов Александр Михайлович
                        p 22 года
                    div.col-md-2.vertical-center
                        button.modal-group__btn.glyphicon.glyphicon-plus
            div.col-md-6
                label.modal-group__block-title участники группы
                div.modal-group__element
                    div.col-md-2.vertical-center.text-left
                        div.icon.default.img-circle
                    div.col-md-8
                        p.bold.pd Кузнецов Александр Михайлович
                        p 22 года
                    div.col-md-2.vertical-center
                        button.modal-group__btn.glyphicon.glyphicon-remove
                div.modal-group__element
                    div.col-md-2.vertical-center
                        div.icon.default.img-circle
                    div.col-md-8
                        p.bold.pd Кузнецов Александр Михайлович
                        p 22 года
                    div.col-md-2.vertical-center
                        button.modal-group__btn.glyphicon.glyphicon-remove
            div.col-md-12.text-right
                button.btn.btn-sm.btn-success.pull-right Ок
                button.btn.btn-sm.btn-danger.pull-right Удалить группу