.vd-assign-user{
  height: 100%;
  font-size: 11px;
  color:rgb(119,119,119);
  font-family: "Open Sans";

  & > div[class*='col-md-']{
    padding: 0;
    height: 100%;

    &:nth-child(1){
      padding: 0 7.5px 0 0;
    }

    &:nth-child(2){
      padding: 0 5px 0 2.5px;
    }

    &:nth-child(3){
      padding: 0 2.5px 0 5px;
    }

    &:nth-child(4){
      padding: 0 0 0 7.5px;
    }
  }

  &__title{
    color:rgb(20,20,20);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    margin:0;
    padding-left: 15px;

    &:last-of-type{
      margin-bottom: 18px;
    }
  }

  &__sub-title{
    font-weight: 600;
    font-size:8px;
    padding-left: 15px;
  }

  &__element{
    min-height: 55px;
    width: 100%;
    position: relative;
    padding-left: 15px;
    box-sizing: border-box;

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    &.hr{
      cursor:pointer;

      &:hover{
        background: rgb(213,235,245);

        .line, .arrow{
          opacity: 1;
        }
      }
    }

    &.active{
      background: rgb(191,226,242)!important;

      .line, .arrow{
        opacity: 1;
      }
    }

    .line{
      position: absolute;
      top: 0;
      bottom: 0;
      right: -3px;
      width: 3px;
      opacity: 0;
      background: rgb(120,202,228);
    }

    .arrow{
      opacity: 0;
      color:rgb(120,202,228);
    }

    p.election{
      padding: 15px 15px 15px 0;
      margin:0;
    }

    p.users{
      margin:0;
      padding-left: 15px;

      &:nth-of-type(1){
        padding-top: 12px;
      }
    }

    p.sites{
      margin:0;

      &:nth-of-type(1){
        padding-top: 12px;
      }
    }

    div[class*='col-md-']{
      padding: 0;
      min-height: inherit;
    }
  }

  &__photo{
    @include sprite($default-table-photo);
    -moz-transform:  scale(0.85);
    -ms-transform:  scale(0.85);
    -webkit-transform:  scale(0.85);
    -o-transform:  scale(0.85);
    transform:  scale(0.85);
    margin-left: -4px;
  }

  &__btn{
    width: 30px;
    height: 25px;
    color:rgb(119,119,119)!important;
    border-radius: 5px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    margin-left:8px;
  }

  .bold{
    font-weight: 600;
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }
}