div.vd-assign-user
    div.col-md-4
        label.vd-assign-user__title шаг 1. выборы
        label.vd-assign-user__sub-title Возможно выбрать несколько вариантов
        div.vd-assign-user__element.hr.vertical-center
            p.election
                |Выборы депутатов законодательных(представительных) органов государственной власти субъектов РФ
                |Выборы депутатов представительных
                |органов муниципальных образований административных центров (столиц)субъектов Российской Федерации
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
        div.vd-assign-user__element.hr.vertical-center
            p.election
                | Выборы депутатов законодательных(представительных) органов государственной власти субъектов РФ
                | Выборы депутатов представительных
                | органов муниципальных образований административных центров (столиц)субъектов Российской Федерации
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
        div.vd-assign-user__element.hr.vertical-center.active
            p.election
                | Выборы депутатов законодательных(представительных) органов государственной власти субъектов РФ
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
    div.col-md-2
        label.vd-assign-user__title шаг 2. участки
        label.vd-assign-user__sub-title Выберите участок для назначения
        div.vd-assign-user__element.hr
            p.sites.bold УИК 100 Школa #74,
            p.sites Краснодар, Кирова, 123
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
        div.vd-assign-user__element.hr.active
            p.sites.bold УИК 100 Школa #74,
            p.sites Краснодар, Кирова, 123
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
        div.vd-assign-user__element.hr
            p.sites.bold УИК 100 Школa #74,
            p.sites Краснодар, Кирова, 123
            div.line.vertical-center
                span.arrow.glyphicon.glyphicon-triangle-right
    div.col-md-3
        label.vd-assign-user__title шаг 3. доступные испонители
        label.vd-assign-user__sub-title Назначьте исполнителей на выбранный участок
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-plus
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-plus
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-plus
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-plus
    div.col-md-3
        label.vd-assign-user__title назначенные исполнители
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-remove
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-remove
        div.vd-assign-user__element
            div.col-md-2.vertical-center
                div.img-circle.vd-assign-user__photo.icon
            div.col-md-8
                p.users.bold Пушкин Константин
                p.users 22 зуба
            div.col-md-2.vertical-center
                button.vd-assign-user__btn.glyphicon.glyphicon-remove