.video-tutorials{
  width: 100%;
  height: 100%;
  font-size: 11px;
  color:rgb(119,119,119);
  font-family: "Open Sans";

  .panel-heading{
    color:rgb(119,119,119);
    height: 55px;
  }

  .panel-body{
    text-align: center;
  }

  &__video{
    width: 100%;
    max-width: 300px;
    height: 100%;
  }
}
