div.video-tutorials
    div.col-md-4
        div.panel.panel-default
            div.panel-heading "Суперштаб" Видео урок № 1 Регистрация/Авторизация/Профиль
            div.panel-body
                iframe.video-tutorials__video(src="https://www.youtube.com/embed/qOoVuPnBEHw",frameborder="0",allowfullscreen)
    div.col-md-4
        div.panel.panel-default
            div.panel-heading "Суперштаб" Видео урок № 2 - Отправка ключей\Мобильное приложение «Фотоотчет»
            div.panel-body
                iframe.video-tutorials__video(src="https://www.youtube.com/embed/Z2fpHuU5FQ4",frameborder="0",allowfullscreen)
    div.col-md-4
        div.panel.panel-default
            div.panel-heading "Суперштаб" Видео урок № 3 Личный кабинет "Операторы»
            div.panel-body
                iframe.video-tutorials__video(src="https://www.youtube.com/embed/Lh2xuKSFrmo",frameborder="0",allowfullscreen)
    div.col-md-4
        div.panel.panel-default
            div.panel-heading "Суперштаб" Видео урок № 4 Личный кабинет "Фотоотчет"
            div.panel-body
                iframe.video-tutorials__video(src="https://www.youtube.com/embed/X6FrTCf1eUg",frameborder="0",allowfullscreen)
    div.col-md-4
        div.panel.panel-default
            div.panel-heading "Суперштаб" Видео урок № 5 Личный кабинет "GPS-трекер"/Мобильное приложение "GPS-Трекер»
            div.panel-body
                iframe.video-tutorials__video(src="https://www.youtube.com/embed/cOnpAAe1eEU",frameborder="0",allowfullscreen)