.table-container{
  position:   absolute;
  top:        0;
  left:       0;
  right:      195px;
  width:      auto;
  bottom:     0;
  padding:    15px;
  box-sizing: border-box;

}

.element-table{
  width:  100%;
  font-family: "Open Sans";

  table,th,tr,td,thead,tbody{
    border:         none!important;
    vertical-align: middle!important;
  }

  th{
    font-size:11px;
    margin-top:0;

    label{
      text-transform: uppercase;
    }
  }

  p{
    font-size:12px;
    color: rgb(101, 108, 120);

    &.bold{
      font-weight: 600;
    }
  }

  tr:nth-child(even){
    background:   #f5f5f5;
  }

  &__number{
    width:        56px;
    line-height:  56px;
  }

  &__photo{
    width:    100px;

    div{
      height:           50px;
      width:            50px;
      margin:           0 auto;
      border-radius:    50px;

      span{
        @include sprite($default-table-photo);
      }
    }

    &.important div{
      border:     2px solid rgb(217,83,79);
      position:   relative;

      &::after{
        content:        '!';
        width:          15px;
        height:         15px;
        border-radius:  50px;
        background:     #d9534f;
        color:          white;
        position:       absolute;
        top:            -3px;
        left:           32px;
        font-size:      10px;
      }
    }
  }

  &__key-header{
    width: 217px;

    label{
      margin-bottom: 0;
      margin-top:10px;
    }

    p{
      margin:0;
      font-size: 8px;
      margin-top: -3px;
    }
  }

  &__key{
    width: 240px;

    div{
      width: 50%;
      height: 18px;
      font-size: 12px;
      font-weight: 600;
      color: rgb(119, 119, 119);

      span{
        width: 16px;
        height: 16px;
        margin-right: 10px;

        &.photoreport{
          @include sprite($pr-red);
        }

        &.voting-day{
          @include sprite($vd-blue);
        }

        &.gps-tracker{
          @include sprite($gt-yellow);
        }

        &.agitator{
          @include sprite($ag-green);
        }

        &.disabled{
          -webkit-filter: grayscale(100%);
          -moz-filter: grayscale(100%);
          -ms-filter: grayscale(100%);
          -o-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray;
        }
      }
    }
  }

  &__action{
    width:    136px;

    button{
      width:          32px;
      height:         25px;
      margin-left:    4px;
      border:         2px solid rgb(218,222,226);
      border-radius:  5px;
      vertical-align: middle;

      &.delete{
        border-color: rgb(217,83,79);
      }

      span{
        width: 15px;
        height: 15px;

        &.key{
          @include sprite($key-btn);
        }
        &.pencil{
          @include sprite($pencil-btn);
        }
        &.delete{
          color:rgb(217,83,79);
          font-size: 11px;
        }
        &.maps{
          @include sprite($map-icon);
        }
      }
    }
  }
}