div.table-container
    table.table.element-table
        thead
            tr
                th.element-table__number.text-center
                    label #
                th.element-table__photo.text-center
                    label фото
                th
                    label данные
                th
                    label телефон
                th.element-table__key-header
                    label   ключи
                    p   Всего / использовано / свободно
                th
                    label группы
                th.text-center
                    label действие
        tbody
            tr
                td.element-table__number.text-center 1
                td.element-table__photo.text-center
                    div
                        span.icon
                td
                    p.bold Александр Кузнецов
                    p 22 года
                td
                td.element-table__key
                    div.pull-left
                        span.photoreport.icon.pull-left
                        | 22 / 13 / 70
                    div.pull-right
                        span.gps-tracker.icon.pull-left.disabled
                        | - / - / -
                    div.pull-left
                        span.voting-day.icon.pull-left
                        | 33 / 33 / 33
                    div.pull-right
                        span.agitator.icon.pull-left
                        | 33 / 33 / 33
                td
                    span.label.label-primary Default
                td.element-table__action.text-center
                    button
                        span.key.icon
                    button
                        span.glyphicon.glyphicon-pencil
                    button.delete
                        span.glyphicon.glyphicon-remove.delete
            tr
                td.element-table__number.text-center 2
                td.element-table__photo.text-center
                    div
                        span.icon
                td
                td
                td
                td
                td.element-table__action.text-center
                    button
                        span.glyphicon.glyphicon-map-marker
            tr
                td.element-table__number.text-center 3
                td.element-table__photo.important.text-center
                    div
                        span.icon
                td
                td
                td
                td
                td.element-table__action.text-center
                    button
                        span.glyphicon.glyphicon-map-marker
                    button.delete
                        span.glyphicon.glyphicon-remove.delete
            tr
                td.element-table__number.text-center 4
                td.element-table__photo.text-center
                    div
                        span.icon
                td
                td
                td
                td
                td
            tr
                td.element-table__number.text-center 5
                td.element-table__photo.text-center
                    div
                        span.icon
                td
                td
                td
                td
                td