div.modal-dialog.protocol-item.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Добавить новый пукт протокола
        div.modal-body
            form
                div.form-group.form-group-sm
                    label Номер строки в протоколе
                    input.form-control.input-sm(type="text",placeholder='Номер строки в протоколе')
                div.form-group
                    label Текст сообщения
                    textarea.form-control.input-sm(type="text")
                div.text-right
                    button.btn.btn-sm.btn-success.protocol-item__btn Добавить