div.modal-dialog.report-maps.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title.bold
                | 15 октября 2017, 17:48
            h6.modal-title
                | Краснодар, красная, 4
        div.modal-body
            div.report-maps__photo
                img(src='http://jonesinverclyde.com/wp-content/uploads/2013/09/500x500-490x490.gif')
            div.report-maps__comment
                div.photo.icon
                div.comment
                    label александра постушко
                    p бла бла бла бла бла! бла бла бла бла.
                div.report-maps__group
                    div.label.label-success Группа 12
                    div.label.label-danger Группа 12
                    div.label.label-warning Группа 12
                div.report-maps__success
                    button.btn.btn-success.btn-sm На карте