.report-maps{
  width: 368px;
  font-size: 12px;

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 400;
  }

  .bold{
    font-weight: 600;
  }

  &__photo{
    width: 100%;
    height: 280px;
    margin-bottom: 15px;

    img{
      margin: auto;
      width: inherit;
      height: inherit;
    }
  }

  &__comment{
    width: 100%;
    height: auto;
    position: relative;

    .photo{
      @include sprite($default-table-photo);
      width: 48px;
      height: 48px;
      display: inline-block;
    }

    .comment{
      width: 280px;
      display: inline-block;
      min-height: 50px;
      vertical-align: top;
      margin:0 0 10px 8px;
      padding: 5px;
      border-radius: 5px;
      border:1px solid rgb(214,218,222);
      background: rgb(248,248,248);
    }

    label{
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
    }

    p{
      color:rgb(119,119,119);
      margin:0;
    }

  }

  &__group{
    display: inline-block;
    width: 250px;
  }

  &__success{
    display: inline-block;
    width: 86px;
    text-align: right;

    button{
      width: 100%;
    }
  }
  .label{
    margin-right: 5px;
    display: inline-block;
  }
}