%after-input{
  position: absolute;
  top: -32px;
  left: 10px;
  width: 150px;
  font-weight: 600;
  color: rgb(119,119,119);
  font-size: 10px;
}

.send-key{
  width: 270px;
  height: 164px;
  font-size: 12px;
  font-family: "Open Sans";

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  input {
    position: relative;
    background: rgb(248,248,248);
  }

  .form-group{
    margin-bottom: 0;
  }

  .placeholder{
    position: relative;
  }

  .label-title{
    color:rgb(119,119,119);
    font-size: 10px;
  }
}

.send-key--email{

  .label-title:before{
    content:'Адрес электронной почты получателя';
  }

  .modal-title::before{
    content:'Отправить ключ на e-mail';
  }

  input:invalid:not(:focus) + .placeholder::after{
    @extend %after-input;
    content: 'E-mail получателя';
  }
}

.send-key--phone{

  .label-title:before{
    content:'Номер получателя';
  }

  .modal-title::before{
    content:'Отправить ключ на номер';
  }

  input:invalid:not(:focus) + .placeholder::after{
    @extend %after-input;
    content: '+7(___)___+__+__';
  }

}