div.modal.show
    div.modal-dialog.send-key.send-key--email
        div.modal-content
            div.modal-header
                button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                h6.modal-title
            div.modal-body
                div.form-group.form-group-sm
                    label.label-title
                    input.form-control.input-sm(id='send-key',type='text',placeholder='',required)
                    label.placeholder(for='send-key')
                div.send-key__btn.text-right
                    button.btn.btn-success.btn-sm Отправить