.vd-appearance{
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: rgb(101, 108, 120);

  &__elections{
    width: 100%;
    min-height: 45px;

    .label{
      margin:0 10px 5px 0;
      float:left;
    }
  }

  &__chart{
    width: 100%;
    height: 300px;
    background: yellowgreen;
    margin-bottom: 15px;
  }

  .panel-title{
    font-size: 12px;
    padding-bottom: 5px;
  }

  .panel-footer{
    height: 72px;
    background: rgb(56,70,87);
    border-top: none;
    border-left: 1px solid rgb(56,70,87);
    border-bottom: 1px solid rgb(56,70,87);
    border-right: 1px solid rgb(56,70,87);

    .col-md-10{
      padding: 0;
      height: 100%;
      font-size: 12px;
      line-height: 25px;
    }

    .col-md-2{
      padding: 0;
      height: 100%;
      font-size: 14px;
      line-height: 51px;

      p{
        display: inline-block;
      }
    }

    p{
      color:rgb(255,255,255);
      margin:0 10px 0 0;
      font-weight: 400;
    }
  }

  .bold{
    font-weight: 600!important;

  }

  text[text-anchor='end']{
    display: none!important;
  }
}