div.vd-appearance
    div.panel.panel-default.clearfix
        div.panel-body
            p.panel-title
                |15 октября 2015
            p.panel-title
                |Дополнительные выборы депутатов Думы Сысертского городского округа по Октябрьскому одномандатному избирательному округу #6
                |и Патрушевскому одномандатному избирательному округу #7
            div.vd-appearance__elections.clearfix
                div.label.label-primary Федеральные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-success Региональные выборы
                div.label.label-warning Странные выборы
                div.label.label-danger ... выборы
            div.vd-appearance__chart
        div.panel-footer
            div.col-md-10.text-left
                p.bold ТИК 2342 УИК 231 Школа#31
                p Екатеринбург, ул. Красных Партизан, 252
            div.col-md-2.text-right.vertical-center
                p.bold Итого:
                p 904 из 1200