.report-cards{
  width: 100%;
  height: 100%;
  font-size:12px;
  font-family: "Open Sans";

  .thumbnail{
    position: relative;
  }

  .photo{
    width: auto;
    height: auto;
  }

  &__element{
    width: 300px;
    height: 390px;
    margin:5px;
    float:left;
    padding: 5px;
    box-sizing: border-box;
  }

  .caption p{
    margin:0;
    color:rgb(119,119,119);
  }

  .bold{
    font-weight: 600;
  }

  .label{
    margin-right: 5px;
  }

  .user-avatar{
    position: absolute;
    top:15px;
    left:15px;
    @include sprite($default-table-photo);
    border:2px solid rgb(255,255,255);
    box-sizing: content-box;
  }

  .important{
    position: absolute;
    color:rgb(255,255,255);
    background: rgb(217,83,79);
    text-align: center;
    width: 25px;
    height: 25px;
    font-size: 16px;
    font-weight: 600;
    top: 270px;
    right: 20px;
  }
}