div.report-cards
    div.report-cards__element
        div.thumbnail
            img.photo(src='http://jonesinverclyde.com/wp-content/uploads/2013/09/500x500-490x490.gif')
            div.caption
                p.bold 15 октября 2015, 16:47
                p Краснодар, Красная, 4
                div.label.label-primary Группа 4
    div.report-cards__element
        div.thumbnail
            img.photo(src='http://jonesinverclyde.com/wp-content/uploads/2013/09/500x500-490x490.gif')
            div.caption
                p.bold 15 октября 2015, 16:47
                p Краснодар, Красная, 4
                div.label.label-primary Группа 4
                div.label.label-success Группа 3
    div.report-cards__element
        div.thumbnail
            img.photo(src='http://jonesinverclyde.com/wp-content/uploads/2013/09/500x500-490x490.gif')
            div.caption
                p.bold 15 октября 2015, 16:47
                p Краснодар, Красная, 4
                div.label.label-primary Группа 4
                div.label.label-success Группа 3
                div.label.label-danger Группа 2
    div.report-cards__element
        div.thumbnail
            img.photo(src='http://jonesinverclyde.com/wp-content/uploads/2013/09/500x500-490x490.gif')
            div.user-avatar.icon.img-circle
            div.important.img-circle !
            div.caption
                p.bold 15 октября 2015, 16:47
                p Краснодар, Красная, 4
                div.label.label-primary Группа 4
                div.label.label-success Группа 3
                div.label.label-success Группа 3
                div.label.label-success Группа 3