div.modal-dialog.ag-m-create.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title.bold Создать новые адреса
        div.modal-body.clearfix
            div.col-md-12
                div.col-md-3
                    div.form-group.form-group-sm
                        label Регион
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Свердловская область
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                div.col-md-3
                    div.form-group.form-group-sm
                        label Город
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Екатеринбург
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                div.col-md-3
                    div.form-group.form-group-sm
                        label Улица
                        div.dropdown
                            button.btn.btn-default.dropdown-toggle.text-left
                                p.pull-left Финских Коммунаров
                                span.pull-right &#9660;
                            ul.dropdown-menu( aria-labelledby="dropdownMenu1")
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li
                                    a(href="#") Action
                                li.divider(role="separator")
                                a(href="#") Separated link
                div.col-md-3
                    div.form-group.form-group-sm
                        label Дом
                        input.form-control.input-sm(type='text')
                        button.glyphicon.glyphicon-ok.add
            div.col-md-12
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                        button.glyphicon.glyphicon-remove.remove
            div.col-md-12
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                div.col-md-3
                    div.form-group.form-group-sm
                        input.form-control.input-sm(type='text')
                        button.glyphicon.glyphicon-remove.remove
            div.col-md-12
                p.ag-m-create__help Чтобы добавить строку, нажмите Enter
            div.col-md-12.text-right
                button.btn.btn-sm.btn-success Ок