.ag-m-create{
  width: 744px;
  font-size:11px;
  font-family: "Open Sans";
  color:rgb(119,119,119);

  &__help{
    margin:-12px 0 0 0;
    font-size:9px;
  }

  label{
    width: 100%;
  }

  .col-md-12{
    padding: 0;

    input{
      background: rgb(248,248,248);
    }
  }

  .col-md-3:nth-of-type(1){
    padding: 0 7.5px 0 0;
  }

  .col-md-3:nth-of-type(2),.col-md-3:nth-of-type(3){
    padding: 0 7.5px 0 7.5px;
  }

  .col-md-3:nth-of-type(4){
    padding: 0 0 0 7.5px;

    input{
      width: 135px;
      display: inline-block;
    }

    button{
      background: rgb(255,255,255);
      width: 30px;
      height: 28px;
      margin-left:5px;
      display: inline-block;
      border-radius: 5px;

      &.add{
        border:2px solid rgb(95,182,96);
        color:rgb(95,182,96);
      }

      &.remove{
        border:2px solid rgb(217,83,79);
        color:rgb(217,83,79);
      }
    }
  }

  .dropdown{
    width: 100%;

    button{
      width: 100%;
      height: 30px;
      padding: 0 0 0 10px;
      font-size: 10px;
      background-color: rgb(248, 248, 248) !important;

      p{
        line-height: 28px;
        margin:0;
        color:rgb(119,119,119);
        font-weight: 400;
      }

      span{
        background: rgb(56, 70, 87) none repeat scroll 0% 0%;
        height: 100%;
        width: 30px;
        border-radius: 0px 3px 3px 0px;
        color:rgb(189,193,197);
        line-height: 25px;
      }
    }
  }

  .btn-success{
    width: 110px;
  }

  .bold{
    font-weight: 600;
  }

}