.modal-delete{
  width: 330px;
  font-size: 12px;
  font-family: "Open Sans";

  .modal-content{
    border:1px solid rgb(217,83,79);
  }

  .modal-header{
    background: rgb(217,83,79);
    border-radius: 5px 5px 0 0;
    padding: 10px;
  }

  .modal-title{
    color:rgb(255,255,255);
    font-weight: 600;
  }

  &__btn{
    width: 100%;
    text-align: right;

    button{
      margin-left:12px;
    }
  }

  .text{
    color:rgb(80,80,80);
  }

  &--sites{
    .text::before{
      content:'Вы действительно хотите удалить участок?';
    }
  }

  &--candidate{
    .text::before{
      content:'Вы действительно хотите удалить кандидата?';
    }
  }

  &--election{
    .text::before{
      content:'Вы действительно хотите удалить выборы?';
    }
  }

  &--address{
    .text::before{
      content:'Вы действительно хотите удалить адрес?';
    }
  }

  &--protocol{
    width: 400px;

    .text::before{
      content:'Вы действительно хотите удалить пункт протокола?';
    }
  }
}