div.modal-dialog.modal-delete.modal-delete--candidate
    div.modal-content
        div.modal-header
            h6.modal-title Внимание!
        div.modal-body
            p.text
            div.modal-delete__btn
                button.btn.btn-default.btn-sm Нет
                button.btn.btn-danger.btn-sm Да, удалить