.period-filter{
  width: 160px;

  &__input{
    width: 80%;
    border:1px solid rgb(214,218,222);
    border-radius: 5px 0 0 5px;
    height: 25px;
  }

  &__btn{
    width: 20%;
    height: 24px;
    border:none;
    border-radius: 0 5px 5px 0;
    margin-bottom: 5px;
    background: rgb(56,70,87);
  }

  &__label {
    margin: 22px 0 8px 0;
    font-size: 11px;
  }
}
