div.period-filter
    label.period-filter__label ПЕРИОД
    input.period-filter__input(type='text')
    button.period-filter__btn.glyphicon.glyphicon-triangle-bottom
    input.period-filter__input(type='text')
    button.period-filter__btn.glyphicon.glyphicon-triangle-bottom