div.modal-dialog.add-candidate.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Добавить кандидата или партийный список
        div.modal-body
            form
                div.form-group.form-group-sm
                    label Фамилия Имя Отчество кандидата или название партийного списка
                    input.form-control.input-sm(type='text',placeholder='Фамилия Имя Отчество кандидата или название партийного списка')
                div.form-group.form-group-sm
                    label Партия
                    input.form-control.input-sm(type='text',placeholder='Название партии')
                div.form-group.form-group-sm
                    label Номер строки в протоколе
                    input.form-control.input-sm(type='text',placeholder='Номер строки в протоколе')
                div.text-right
                    button.btn.btn-sm.btn-success.add-candidate__btn Добавить