.add-candidate{
  width: 488px;
  font-size: 12px;
  font-family: "Open Sans";

  .modal-title{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  input{
    background: rgb(248,248,248);
    color:rgb(119,119,119);
    font-size: 10px!important;
  }

  label{
    color:rgb(119,119,119);
    font-weight: 600;
  }

  &__btn{
    width: 100px;
  }
}