div.modal-dialog.points-editor.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title Редактор точек
        div.modal-body.clearfix
            div.points-editor__map
            div.form-group.form-group-sm
                input.form-control.input-sm(type='text',placeholder='Адрес')
                input.form-control.input-sm(type='text',placeholder='Название')
            div.col-md-12.text-right.points-editor__btns
                button.btn.btn-sm.btn-danger Отмена
                button.btn.btn-sm.btn-success Сохранить
            div.col-md-12
                div.col-md-12
                    div.col-md-3
                        label.points-editor__title название
                    div.col-md-7
                        label.points-editor__title Адрес
                    div.col-md-2
                        label.points-editor__title действие
                div.col-md-12.points-editor__element
                    div.col-md-3
                        p Название 1
                    div.col-md-7
                        p Россия, Краснодар, Красная, 5
                    div.col-md-2.text-right
                        button.points-editor__btn-upd.glyphicon.glyphicon-pencil
                            button.points-editor__btn-danger.glyphicon.glyphicon-remove
                div.col-md-12.points-editor__element
                    div.col-md-3
                        p Название 1
                    div.col-md-7
                        p Россия, Краснодар, Красная, 5
                    div.col-md-2.text-right
                        button.points-editor__btn-upd.glyphicon.glyphicon-pencil
                        button.points-editor__btn-danger.glyphicon.glyphicon-remove
                div.col-md-12.points-editor__element
                    div.col-md-3
                        p Название 1
                    div.col-md-7
                        p Россия, Краснодар, Красная, 5
                    div.col-md-2.text-right
                        button.points-editor__btn-upd.glyphicon.glyphicon-pencil
                        button.points-editor__btn-danger.glyphicon.glyphicon-remove
            div.col-md-12.text-right
                button.btn.btn-sm.btn-success Ок
