.points-editor{
  width: 744px;
  color:rgb(119,119,119);
  font-family: "Open Sans";
  font-size: 11px;

  .modal-title{
    font-weight: 600;
  }

  input{
    background: rgb(248,248,248);
    margin-bottom: 5px;
  }

  &__map{
    width: 100%;
    height: 250px;
    background: yellowgreen;
    margin-bottom: 15px;
  }

  .form-group{
    margin:0;
  }

  div[class*='col-md-']{
    padding: 0;
  }

  &__title{
    color:rgb(20,20,20);
    line-height: 30px;
    text-transform: uppercase;
    padding:10px 0 0 15px;
  }

  &__element{
    height: 55px;

    p{
      margin:0;
    }

    div[class*='col-md-']{
      height: inherit;
      line-height: 55px;
      padding-left: 15px;
      box-sizing: border-box;
    }

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }
  }

  &__btn-danger{
    width: 30px;
    height: 25px;
    color:#d9534f;
    border-radius: 5px;
    margin-right:10px;
    border:2px solid #d9534f;
  }

  &__btn-upd{
    width: 30px;
    height: 25px;
    color:#777777;
    border-radius: 5px;
    margin-right:10px;
    border:2px solid #d6dade;
  }

  .btn-success{
    width: 110px;
    margin-top:10px;
  }

  &__btns .btn-success{
    margin:0 0 0 10px;
  }
}