div.modal-dialog.mw-sites.mw-sites--create.show
    div.modal-content
        div.modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h6.modal-title
        div.modal-body.clearfix
            div.col-md-6.col-left
                div.form-group.form-group-sm
                    label Номер территориально-избирательной комиссии
                    input.form-control.input-sm(type='text',placeholder='Номер ТИК')
                div.form-group.form-group-sm
                    label Название
                    input.form-control.input-sm(type='text',placeholder='Название')
                div.form-group.form-group-sm
                    label Адрес
                    input.form-control.input-sm(type='text',placeholder='Адрес')
            div.col-md-6.col-right
                div.form-group.form-group-sm
                    label Номер участковой избирательной комиссии
                    input.form-control.input-sm(type='text',placeholder='Номер УИК')
                div.form-group.form-group-sm
                    label Телефон
                    input.form-control.input-sm(type='text',placeholder='+7(___)___-__-__')
                div.form-group.form-group-sm
                    label Число избирателей
                    input.form-control.input-sm(type='text',placeholder='Число избирателей')
            div.col-md-12.mw-sites__map
            div.col-md-6.col-left.col-groups
                label.mw-sites__label доступные группы
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.red Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-plus
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.blue Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-plus
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.label-primary Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-plus
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.purple Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-plus
            div.col-md-6.col-right.col-groups
                label.mw-sites__label группы, в которые добавлен участок
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.orange Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-remove
                div.mw-sites__element
                    div.col-md-10.vertical-center
                        div.label.label-primary Федеральные выборы
                    div.col-md-2.vertical-center
                        button.mw-sites__btn.glyphicon.glyphicon-remove
            div.col-md-12
                button.btn.btn-sm.btn-success.pull-right Ок
                button.btn.btn-sm.btn-danger.pull-right Удалить участок
