.mw-sites{
  width: 744px;
  color:rgb(119,119,119);
  font-size:11px;

  .btn-success{
    width: 110px;
  }

  .col-md-12{
    padding: 0;
  }

  .col-left{
    padding: 0 7.5px 0 0;
  }

  .col-right{
    padding: 0 0 0 7.5px;
  }

  .col-groups{
    height: 330px;
    margin-bottom: 15px;
  }

  &__map{
    height: 130px;
    background: greenyellow;
    margin-bottom: 15px;
  }

  &__label{
    color:rgb(20,20,20);
    text-transform: uppercase;
    margin-left:15px;
  }

  &__element{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    box-sizing: border-box;

    &:nth-of-type(even){
      background: rgb(237,241,246);
    }

    &:nth-of-type(odd){
      background: rgb(249,251,252);
    }

    div[class*='col-md-']{
      padding: 0;
      height: inherit;
    }
  }

  &__btn{
    width: 30px;
    height: 25px;
    color:rgb(119,119,119);
    border-radius: 5px;
    border:2px solid rgb(214,218,222);
    background: rgb(249,251,252);
    margin-left:20px;
  }

  &--create{
    .modal-title::before{
      content: 'Создать новый участок';
    }

    .btn-danger{
      display: none;
    }
  }

  &--upd{
    .modal-title::before{
      content: 'Редактировать участок';
    }

    .btn-danger{
      margin-right:15px;
      display: block;
    }
  }

  .vertical-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: inline-flex;
    align-items: center;
    -webkit-flex-flow: row wrap;
  }

  input{
    background: rgb(248,248,248);
    font-size: 10px;
    color:rgb(119,119,119);
  }

  .red{
    background: rgb(217,83,79);
  }
  .crimson{
    background: rgb(223,23,90);
  }
  .purple{
    background: rgb(150,40,75);
  }
  .violet{
    background: rgb(103,57,183);
  }
  .dark-blue{
    background: rgb(62,80,180);
  }
  .blue{
    background: rgb(62,138,204);
  }
  .light-blue{
    background: rgb(91,192,222);
  }
  .dark-green{
    background: rgb(2,148,135);
  }
  .green{
    background: rgb(92,184,92);
  }
  .light-green{
    background: rgb(204,249,56);
  }
  .yellow{
    background: rgb(254,234,59);
  }
  .orange{
    background: rgb(240,173,77);
  }
}