.page-container{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  margin:15px;
  font-family: "Open Sans";

  .panel-heading{
    height: 50px;
  }

  &__name, &__buttons{
    padding: 0;
    margin:0;
    height: 100%;
    color:rgb(119,119,119);
    line-height: 30px;
  }

  &__label{
    line-height: 30px;
    margin-right: 15px;
    color:rgb(119,119,119);
    font-weight: 300;
  }

  .glyphicon{
    color:rgb(189,193,197);
  }
}