div.page-container.panel.panel-default
    div.panel-heading
        div.page-container__name.col-md-6
            | Фотоотчет
        div.page-container__buttons.col-md-6.panel-title.text-right
            label.page-container__label Вид:
            div.btn-group.pull-right(role="group")
                button.btn.btn-default.btn-sm
                    span.glyphicon.glyphicon-align-justify(aria-hidden="true")
                button.btn.btn-default.btn-sm
                    span.glyphicon.glyphicon-th-large(aria-hidden="true")
                button.btn.btn-default.btn-sm
                    span.glyphicon.glyphicon-map-marker(aria-hidden="true")
    div.panel-body